@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
}

/* .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.main {
  max-width: 1440px;
}

.padding {
  padding: 20px;
}

#connexion,
#inscription {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name-user {
  color: white;
  font-weight: 500;
  text-decoration: line-through;
}

#page_product {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* borders */
#border-img {
  border: 3px dotted black;
  padding: 10px;
  border-radius: 50%;
}

#border-btn-release {
  border: none;
  background: none;
}

#border-drop-card-name {
  border-top: 2px solid #007acc;
  border-bottom: 2px dotted #007acc;
}

#border-form {
  border: 2px solid #007acc;
}

#card-border:hover {
  border: 2px solid #007acc;
}

#card-border-release {
  border: 1px solid black;
  border-radius: 10px;
}

#card-border-release:hover {
  background-color: #99d6ff39;
}

/* sizes */
.product_s {
  width: 1000px;
}

#size-photo {
  width: 100%;
}

.card-accueil {
  width: 350px;
  gap: 45px;
}

.card-release {
  width: 400px;
}

.card-image img {
  object-fit: cover;
  width: 100%;
}

.navbar-menu {
  background: linear-gradient(90deg, #99d6ff, #007acc);
}

.navbar:hover {
  background-color: none;
}

#menu-item:hover {
  text-decoration: line-through;
  background: none;
  font-weight: bold;
}

#product-item {
  color: black;
}

/* section-article_1 */
#red {
  color: red;
  text-decoration: underline;
}

.section-MCR,
.section-carrousel {
  height: auto;
  border-top: 7px double #007acc;
  border-bottom: 7px double #007acc;
}

.article-photo img {
  position: relative;
  max-width: 100%;
  display: block;
}

/* carousel-accueil */
.carousel {
  position: relative;
  margin: 0 auto;
}

.carousel img {
  width: 40%;
}

.carousel-image {
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

.carousel-arrow {
  position: relative;
  font-size: 30px;
  cursor: pointer;
}

.carousel-arrow:first-child {
  left: -40px;
}

.carousel-arrow:last-child {
  right: -40px;
}

/* article-accueil*/
.article-accueil {
  width: 90%;
}

#btn-SnkLks {
  color: white;
}

.comment .form {
  flex-basis: 50%;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 20px;
  }

  .card-accueil {
    width: 250px;
    gap: 45px;
  }

  .card-release {
    width: 300px;
  }

  .product_s {
    width: 900px;
  }
}
/*MOBILE*/
@media screen and (max-width: 767px) {
  .card-cdc {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .card-accueil {
    width: 280px;
  }

  .card-release {
    width: 280px;
  }

  .article-accueil {
    width: 100%;
  }

  .wrapper {
    display: flex;
  }

  .release-like,
  .drop-like {
    flex-wrap: wrap;
  }
}
