.carousel {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: auto;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.carousel-arrow:first-child {
  left: -40px;
}

.carousel-arrow:last-child {
  right: -40px;
}
